.Cart {
  display: flex;
  justify-content: space-between;
}

.Form {
  color: red;
  margin: 100px 200px 0 0;
  display: flex;
  flex-direction: column;
}

.Label {
  color: black;
  font-size: 15px;
}

.Input {
  margin: 15px 5px 0 0;
  display: flex;
  justify-content: flex-end;
  &:nth-child(5) {
    margin-bottom: 15px;
  }
}
