.Card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
}

.CardImage {
  width: 200px;
  height: 100px;
}

.CardContent {
  padding: 5px;
}

.CardPrice {
  margin-right: 50px;
}

.CardTitle {
  font-size: 25px;
  height: 60px;
}
