.nav {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: rgb(25, 25, 26);
  display: flex;
  justify-content: space-evenly;
}
.header {
  width: 100%;
  padding-top: 25px;
  background-color: rgb(25, 25, 26);
  display: flex;
  justify-content: space-evenly;
}
